<div style="overflow: scroll; height: 150px;">
<pre>
<% comments.each do |comment|%>
 <b> <%= comment.comment %></b> on <i><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S")
 %> <%=comment.created_at.zone %></i> by <i><%= by%></i> 
<% end %>
</pre>
</div>

<%= form_for(:comment, :url => {:controller => 'comments', :action => 'create'}, :remote => true) do |f| %>
  <label for="comment-text" class="control-label">Comment:</label>
  <%= f.text_area :comment, size: "10x5", style: "resize: none", class: "form-control"%>
  <%= f.hidden_field :study_id, value: params[:id]%>
  <br/>
  <%= f.submit :post, :class => 'btn btn-primary pull-right', id: "submit" %>
<%end%>